.chart-bar {
    height: 1.25em;
}

.bar-box {
    width: 60px;
    height: 1.25em;
    background-color: #5cb85c;
}

.bar-error {
    background-color: #d9534f;
    float: left;
}

.bar-warning {
    background-color: #f0ad4e;
    float: left;
}

.bar-empty {
    background-color: #ddd;
}

.bar-box-border {
    border-right: 1px solid white;
}